.page-title {
  padding: 0 $spacer-row;
  font-size: 26px;
  font-weight: 500;
  line-height: 1.38;
}

.section-title {
  margin-top: 62px;
  padding-bottom: 6px;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.5;
  border-bottom: 1px solid #212529;
}
