@charset "utf-8";

@import "_reset.scss";
@import "_mixin.scss";
@import "_layout.scss";
@import "_form.scss";
@import "_button.scss";
@import "_icon.scss";
@import "_text.scss";
@import "_layer.scss";
@import "_page.scss";
@import "_indicator.scss";
@import "_animation.scss";
.blind {
    overflow: hidden; 
    position: absolute; 
    clip: rect(0 0 0 0); 
    margin: -1px; 
    width: 1px; 
    height: 1px; 
    color: transparent;
}

.notch {
    position: fixed;
    left:0;
    right:0;
    bottom: env(safe-area-inset-bottom);
    bottom: constant(safe-area-inset-bottom);
    background: #f8f8f8;
}

pre {
    white-space: pre-wrap; 
}
