
@charset "utf-8";

@font-face {
    font-family:'kakao';
    font-style: normal;
    font-weight: 400;
    src:url('../fonts/KakaoRegular.eot');
    src: local(☺),
    url('../fonts/KakaoRegular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/KakaoRegular.woff') format('woff');
}

@font-face {
    font-family:'kakao';
    font-style: normal;
    font-weight: bold;
    src:url('../fonts/KakaoBold.eot');
    src: local(☺),
    url('../fonts/KakaoBold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/KakaoBold.woff') format('woff');
}


body, p, h1, h2, h3, h4, h5, h6, input, textarea, select, table, th, td {
  /* font-family: 'Noto Sans KR', 'Muli', sans-serif; */
  font-family: 'kakao';
}
