@charset "utf-8";
@import url(font.css);
@import url(font-awesome.min.css);

::-webkit-scrollbar,
::-webkit-scrollbar-button,
::-webkit-scrollbar-thumb:window-inactive,
::-webkit-scrollbar-thumb,
::-webkit-scrollbar-track {-webkit-appearance:none; display:none;}

/* reset */
html, body {width:100%; height:100%; -webkit-font-smoothing:antialiased; -webkit-text-size-adjust:none; text-size-adjust:none;}
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, a, button, address, em, img, small, strong, sub, sup, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td, hr, figure {margin:0; padding:0}
body {padding:0; background:#fff; font-family:'Nanum Barun Gothic', dotum, '돋움', gulim, '굴림', Arial, AppleGothic, verdana, sans-serif, helvetica; font-size:12px; color:#000;}
h1, h2, h3, h4, h5, h6 {font-weight:normal}
ol, ul, li {list-style:none}
table {width:100%; border-collapse:collapse; border-spacing:0}
form, fieldset, iframe {display:block; border:0}
img, button {border:0 none; vertical-align:middle}
img {width:100%;}
i, em, address {font-style:normal}
label, button {cursor:pointer}
caption, legend, .blind {width:0; height:0; margin:0; padding:0; text-indent:-9999em; overflow:hidden; visibility:hidden; font-size:0;}
.blind {position:absolute !important;}
header, footer, section, article, aside, nav, hgroup, details, menu, figure, figcaption {display:block}
input[type="date"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], textarea, button {-webkit-appearance:none; -moz-appearance:none; appearance:none;}
input[type="date"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], textarea, button, select {-webkit-border-radius:0; -moz-border-radius:0; -o-border-radius:0; border-radius:0;}
select {
    -webkit-appearance: none;  /* 네이티브 외형 감추기 */
    -moz-appearance: none;
    appearance: none;
    padding-right: 30px;
    background: url(../img/icon_toggle.png) no-repeat right center;
    background-size: 24px 24px;
}
select::-ms-expand {
    display: none;
}
input.text::-webkit-input-placeholder, input[type="date"]::-webkit-input-placeholder, input[type="number"]::-webkit-input-placeholder, input[type="password"]::-webkit-input-placeholder, input[type="search"]::-webkit-input-placeholder, input[type="tel"]::-webkit-input-placeholder, input[type="text"]::-webkit-input-placeholder, select::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
    color: #adb5bd;
}
input.text::-moz-placeholder, input[type="date"]::-moz-placeholder, input[type="number"]::-moz-placeholder, input[type="password"]::-moz-placeholder, input[type="search"]::-moz-placeholder, input[type="tel"]::-moz-placeholder, input[type="text"]::-moz-placeholder, select::-moz-placeholder, textarea::-moz-placeholder {
    color: #adb5bd;
}
input.text:-ms-input-placeholder, input[type="date"]:-ms-input-placeholder, input[type="number"]:-ms-input-placeholder, input[type="password"]:-ms-input-placeholder, input[type="search"]:-ms-input-placeholder, input[type="tel"]:-ms-input-placeholder, input[type="text"]:-ms-input-placeholder, select:-ms-input-placeholder, textarea:-ms-input-placeholder {
    color: #adb5bd;
}
input.text::-ms-input-placeholder, input[type="date"]::-ms-input-placeholder, input[type="number"]::-ms-input-placeholder, input[type="password"]::-ms-input-placeholder, input[type="search"]::-ms-input-placeholder, input[type="tel"]::-ms-input-placeholder, input[type="text"]::-ms-input-placeholder, select::-ms-input-placeholder, textarea::-ms-input-placeholder {
    color: #adb5bd;
}
input, textarea { margin:0; padding:0; color:#666; font-family:'Nanum Barun Gothic', dotum,'돋움',gulim,'굴림',Arial, AppleGothic, verdana, sans-serif, helvetica; vertical-align:middle; outline-style:none;}
select {font-size:15px;height:36px;margin:0; padding-left: 10px; border:0; color:#333;background-color: #fff; font-family:'Nanum Barun Gothic', dotum,'돋움',gulim,'굴림',Arial, AppleGothic, verdana, sans-serif, helvetica; vertical-align:middle; outline-style:none;}
textarea {-webkit-box-sizing:border-box;box-sizing:border-box;padding: 10px;width:100%;border: 1px solid #ddd;font-size: 14px;color: #666;resize: none;overflow: auto;line-height: 20px;}
button {overflow:visible; margin:0; padding:0; border:none; background:none; font-size:12px; font-family:'Nanum Barun Gothic', dotum,'돋움',gulim,'굴림',Arial, AppleGothic, verdana, sans-serif, helvetica; vertical-align:top; cursor:pointer;}
button::-moz-focus-inner {border:0; padding:0;}
.ellipsis {display:block; overflow:hidden; white-space:nowrap; text-overflow:ellipsis}
a {color:#111; text-decoration:none; word-wrap:break-word; word-break:keep-all;}
a:link, a:visited, a:hover, a:active, a:focus {text-decoration:none;font-weight: bold}
input{font-size:15px;border:none; color:#333;height: 36px; background: #fff; padding:0 4px; box-sizing: border-box; font-family:'Nanum Barun Gothic', dotum,'돋움',gulim,'굴림',Arial, AppleGothic, verdana, sans-serif, helvetica; vertical-align:middle; outline-style:none;}
input.inbox{font-size:15px;border:none; color:#333;height: 36px; background: #fff; padding:0 4px; box-sizing: border-box;border:1px solid #ccc;height: 54px }
.hr1 {background: #ddd;margin: 15px 0; clear:both; width: 100%; border:none;height: 1px}
input.cal[type="submit"] {
    margin-left: -68px;
    width: 40px !important;
    background: url(../img/ic_cal.png) no-repeat center 12px !important;
    background-size: 26px !important;
    border: 0;
    -webkit-appearance: none;
    text-indent: -9999px;
    margin-top: 0px;}

input.cal_2[type="submit"] {
    width: 40px !important;
    background: url(../img/ic_cal.png) no-repeat center 5px !important;
    background-size: 26px !important;
    border: 0;
    -webkit-appearance: none;
    text-indent: -9999px;
    margin-top: 0px;
    }
/* 기타 */
    .clearfix:after {display:block; content:''; clear:both}
    .vat {vertical-align:top;}
    .vam {vertical-align:middle;}
    .vab {vertical-align:bottom;}
    .bl0 {border-left: none !important;}
    .br0 {border-right: none !important;}
    .bb0 {border-bottom: none !important}
    .pad0 {padding:0 !important;}
    .pt0 {padding-top: 0px !important;}
    .pb0 {padding-bottom: 0px !important;}
    .pt15 {padding-top: 15px !important;}
    .pt20 {padding-top: 20px !important;}
    .pt25 {padding-top: 25px !important;}
    .pt40 {padding-top: 40px !important;}
    .pl0 {padding-left: 0px !important;}
    .pl10 {padding-left: 10px !important;}
    .pr10 {padding-right: 10px !important;}
    .mt0 {margin-top: 0px !important;}
    .mt10 {margin-top:10px !important;}
    .mt20 {margin-top: 20px !important;}
    .mt25 {margin-top: 25px !important;}
    .mt30 {margin-top: 30px !important;}
    .mt40 {margin-top: 40px !important;}
    .mt50 {margin-top: 50px !important;}
    .mr0 {margin-right: 0px !important;}
    .mr05 {margin-right: 5px !important;}
    .mb0 {margin-bottom: 0px !important;}
    .mb10 {margin-bottom: 10px !important;}
    .mb20 {margin-bottom: 20px !important;}
    .mt15 {margin-top: 15px !important;}
    .mt20 {margin-top: 20px !important;}
    .mt56 {margin-top: 56px !important;}
    .ml05 {margin-left: 5px !important;}
    .ml10 {margin-left: 10px !important;}
    .ml20 {margin-left: 20px !important;}
    .mr10 {margin-right: 10px !important;}
    .mb15 {margin-bottom: 15px !important;}
    .mb25 {margin-bottom: 25px !important;}
    .mb55 {margin-bottom: 55px !important;}
    .mb60 {margin-bottom: 60px !important;}
    .mb70 {margin-bottom: 70px !important;}
    .tal {text-align: left !important;}
    .tar {text-align: right !important;}
    .bb1 {border-bottom:1px solid #a8b9db}
    .col_red {color:#ff0000 !important;}
    .col_blue {color:#0000ff !important;}
    .col_8 {color:#888 !important;}
    .col_w {color:#fff !important;}
    .col_bk {color:#000 !important;}
    .fl {float:left !important;}
    .fr {float:right !important;}
    .bort0 {border-top: none !important;}
    .wi75 {width: 71% !important}
    .wi100 {width: 100% !important}
    .wiauto {width: auto !important}
    .pa16 {padding:0 16px !important;}
    .fs17 {font-size:17px !important;}
    .radio_sty01 {width:18px; height:18px;vertical-align: middle;margin-right: 5px;}
    .tac {text-align: center !important;}

hr {background: #ddd;clear:both; width: 100%; border:none;height: 1px;margin: 5px 0; display: inline-block;}

h3 {font-size: 15px;color:#999;box-sizing: border-box;line-height: 1.4;padding-top: 30px;}
h3 b {font-size: 29px;letter-spacing: -1px;font-weight: normal;color: #000;font-family:'Nanum Square' !important;padding-bottom: 10px;display: inline-block;}
h4 {font-size: 15px;font-weight: bold; letter-spacing: -1px; margin-top: 40px; margin-bottom: 20px}
h4 span {font-size: 13px;padding-top: 5px;color: #999;display: inline-block;letter-spacing: normal;}
h4 b {font-size:20px;letter-spacing: 1px;}

/* ==================== 버튼 ==================== */
button.btn01_sel {font-size: 15px; font-weight: bold; width: 100%;height:54px; color:#000;background:#ffda1a; margin-top: 20px}
button.btn01_dis {font-size: 15px; font-weight: bold; width: 100%;height:54px; color:#999;background:#eeeeee; margin-top: 20px}
/*인증번호재요청버튼*/
.btn_reload {background:url(../img/reload.svg) no-repeat 10px;background-size:22px;width: auto;height: 40px;box-sizing: border-box;padding-left: 45px;font-size: 15px;font-weight: bold;margin: 15px auto;display: block;}
/*폼안에들어가는버튼*/
.btn_form {min-width:60px;height: 36px;border:1px solid #ddd; background:#eee; color:#000; display: inline-block;float: right;border-radius: 2px; padding:0 10px;font-size: 13px; font-weight: bold}

/* form */
.form_1 {}
.form_1 a {width: 100%; height: 48px;display: block;}
.form_1 li {height: 50px; border-bottom:1px solid #ddd;padding:6px 0; box-sizing: border-box;}
.form_1 li img {width: 24px; height: 24px; margin:0px 20px 0 10px }
.form_1 p {font-size: 15px;color:#333;height: 36px;display: inline-block;box-sizing: border-box;padding: 10px 4px;letter-spacing:-1px;}
.form_1 span {background:#1f88ff;color:#fff; padding:2px 4px;border-radius: 2px;}

/* Checkbox */
    .ch_container {
        display: block;
        position: relative;
        padding-left: 30px;
        cursor: pointer;
        font-size: 13px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
    .ch_container input {
        position: absolute;
        opacity: 0;
    }
    .checkmark {
        position: absolute;
        top: -3px;
        left: 0;
        height: 20px;
        width: 20px;
        background-color: #eee;
        border-radius: 2px;
        border:1px solid #ddd;
    }
    .ch_container:hover input ~ .checkmark {
        background-color: #eee;
    }

    /* When the checkbox is checked, add a blue background */
    .ch_container input:checked ~ .checkmark {
        background-color: #ffda1a;
        border:1px solid #ffda1a;
    }
    .checkmark:after {
        content: "";
        position: absolute;
        display: none;
    }
    .ch_container input:checked ~ .checkmark:after {
        display: block;
    }
    .ch_container .checkmark:after {
        left: 6px;
        top: 2px;
        width: 5px;
        height: 10px;
        border: solid white;
        border-width: 0 3px 3px 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
    }

/* 레이아웃 */
#wrap {min-width:320px; width: 100%;display: inline-block;}
#header {width: 100%;height:45px;position: fixed;top: 0;z-index: 900000; background: #fff;}
#container {margin-top:45px;margin-bottom:25px;padding:0 16px;box-sizing: border-box;display: inline-block;width: 100%}
#header a.back {display:block;position: absolute;top:0; left:0; width: 70%; height: 45px; background:url(../img/ic_back_b.png) no-repeat 12px;background-size: 24px 24px; padding: 15px 0 0 45px;box-sizing: border-box;text-indent: -99999px;}
#header a.home {display:block;position: absolute;top:0; right:0; width: 45px; height: 45px; background:url(../img/t_home.svg) no-repeat center;background-size: 24px; text-indent: -9999em;}
#header a.info {display:block;position: absolute;top:0; right:0; width: 45px; height: 45px; background:url(../img/t_myinfo.svg) no-repeat center;background-size: 24px; text-indent: -9999em;}

/* Table */
.table_st1 {width: 100%; border-top:2px solid #000;font-size: 13px}
.table_st1 th {background-color:#f7f7f7; color:#000;white-space:nowrap;height: 40px; border-bottom:1px solid #e5e5e5; text-align:left;padding-left:8px;}
.table_st1 td { border-bottom: solid 1px #e5e5e5 ;text-align:left;height: 36px;color:#666;word-break: break-all;padding:5px 4px 5px 8px;}

/* ==================== 팝업 ==================== */
.pop_btn01 {width: 100%;height: 54px;background: #ffda1a;font-size: 16px;/* font-family:'Nanum Square' !important; */color:#000;border-bottom-left-radius: 3px;border-bottom-right-radius: 3px;font-weight: bold;}
.pop_st01 {width: 100%;box-sizing: border-box;padding: 25px 20px;/* text-align: center; */font-size: 14px;line-height: 1.3;}
.pop_1 {width: 90%;background: #fff;position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%) !important;border-radius: 3px;-webkit-box-shadow: -1px 11px 35px -7px rgba(0,0,0,0.75);
-moz-box-shadow: -1px 11px 35px -7px rgba(0,0,0,0.75);box-shadow: -1px 11px 35px -7px rgba(0,0,0,0.75);}
.pop_tit {font-family:'Nanum Square' !important;font-size: 17px;border-bottom: 1px solid #ddd;box-sizing: border-box;padding: 20px 0 18px 20px;color: #000;font-weight: bold;}
.pop_close {display:inline-block;width: 56px; height: 56px; background: url(../img/ic_close_g.png) no-repeat center;background-size: 24px 24px; text-indent: -9999em;float: right; }

/* Small Popup */
.popup {
  background: rgba(100, 100, 100, 0.6);
  position: fixed;
  display: none;
  z-index: 900001;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;


  > div {
    border-radius: 10px;
    position: fixed;
    background: #FFFFFF;
    box-shadow: 0px 0px 15px 0px rgba(#000000, 0.3);
    padding: 30px 15px;
    /* Width of popup can be changed */
    width: 70%;
    max-width: 600px;
    z-index: 5001;
    @include transform(translate(-50%, -50%));
      left: 50%;
     top: 50%;
    text-align: center;
    border: 5px solid #9AD3DE;
  }
}

/* 개인정보처리동의서 */
.accordion {
    background-color: #fff;
    color: #444;
    cursor: pointer;
    padding: 16px 0 14px 0;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    letter-spacing: -1px;
    transition: 0.4s;
    border-bottom: 1px solid #ddd;
}
.accordion p {padding-left: 30px; box-sizing: border-box;display: inline}

.active, .accordion:hover {/* background-color: #f9f9f9f9; */color: #000;}
.accordion:after {
    content: '\002B';
    color: #777;
    float: right;
    font-size: 27px;
    font-family: Arial;
    width: 40px;
    height: 32px;
    text-align: center;
    box-sizing: border-box;
    padding-top: 2px;
    margin-top: -9px;
}
.active:after {content: "\2212";}
.panel {
    padding: 0 16px;
    background-color: #f9f9f9f9;
    max-height:270px;
    overflow: auto;
    transition: max-height 0.2s ease-out;
    display: none;
    border-bottom:1px solid #bbb;

}
.panel p {margin:10px 0;color:#666;font-size:13px;}

/*체크이미지*/
.add04 {display: inline-block;width: 100%; font-size: 13px; color:#666;height:30px;margin-top: 10px }
.add04 div {display: inline-block;letter-spacing: -1px;background: url(../img/checked.png) no-repeat 0 0;background-size:22px 22px;height:30px;padding-left: 28px; font-size:15px;}
.add04 div.nch {display: inline-block;letter-spacing: -1px;background: url(../img/checked_n.png) no-repeat 0 0;background-size:22px 22px;height:30px;padding-left: 28px}
.add04 div span{display: inline-block;padding-top: 2px; color:#222;}
.add04 button {width: 16%;display: inline-block;float: right;height:30px;background:url(../img/btn_more.png) no-repeat 20px 7px;background-size:18px 18px;text-indent: -9999em; margin-top: -5px;outline:none;}
.add04_s {padding:10px 10px;background-color: #eee;line-height: 1.6; color:#333;width: 100%; font-size: 13px; box-sizing: border-box;}

/*인풋박스 슬라이드*/

.field-wrapper {  position: relative;float: left; width: 100%;}
.field-wrapper input { width: 100%; padding-top: 17px !important;box-sizing: border-box;  box-shadow: none;  outline: none;  border: none;  padding:0 4px;  height:36px;  font-size: 15px;  font-weight: 500; }
.field-wrapper select {width: 100%; height: 30px; font-size: 15px !important;line-height: 28px; background-color: #fff;  padding-left: 0px;margin-top: 12px;}
.field-wrapper label {
  top: 10px;
  left: 0;
  /*color: #000;*/
  transition: 0.3s;
  pointer-events: none;
  font-size: 16px;
  box-sizing: border-box;
  padding-left:15px;
  opacity: 0;
  position: absolute;
}
.field-wrapper label.on {  color: #4481C4;}
.field-wrapper label.show {
  opacity: 1;
  top: -1px;
  left: 3px;

  color: #999 ;
  font-size: 11px;
  /*background: #fff;*/
  display: inline-block;
  width: auto;
  padding:3px 1px ;
}
.field-wrapper option {  color: black;}
.field-wrapper .watermark {  color: #666;}

/* ==================== 스플래쉬 가운데정렬 ==================== */
    .outer {
        position:absolute;
        top:0;
        left:0;
        width:100%;
        height:100%;
    }

    .table-container {
        height:100%;
        width:100%;
        display:table;
    }

    .table-cell {
        vertical-align:middle;
        height:100%;
        display:table-cell;
        text-align:center;
    }

/* ==================== 로그인 ==================== */
.login01 {width: 100%;padding: 0 25px;display: inline-block;box-sizing: border-box;}
.login01 p {font-size: 22px;letter-spacing: -2px;padding-top: 80px;font-family: 'Nanum Square' !important;width: 100%;text-align: center;line-height: 1.3;font-weight: bold;color: #999;}
.login01 ul {margin-top: 40px;display:inline-block;width: 100%; box-sizing: border-box;}
.input_log {
    width: 100%;
    padding-left: 55px;
    height: 52px;
    font-size: 13px;
    color:#888;
    box-sizing: border-box;
    font-weight: bold;
    border: none;
    border-bottom: 1px solid rgba(0,0,0,0.2);
    background:transparent;
    background: url(../img/t_id.svg) no-repeat 0px 18px;
    background-size: 48px;}
.in_bg01 {background:url(../img/t_pw.svg) no-repeat 0px 18px !important;background-size: 48px !important;}
.login01 img {width:195px;display: block;margin: 15px auto 20px auto;}
.login01 button {margin-top: 20px;display:inline-block;box-sizing: border-box;float: right; font-size: 13px}

.login02 {background:#ffda1a url(../img/ic_phone.svg) no-repeat center center;background-size:41px;width: 85px; height: 85px;display: block;border-radius: 50%; margin:0 auto;}
.login03 {background:#ffda1a url(../img/ic_mail.svg) no-repeat center center;background-size:39px; width: 85px; height: 85px;display: block;border-radius: 50%; margin:0 auto;}
.lo_txt01 {font-family: 'Nanum Square' !important;display: block;margin:0 auto; font-size: 17px; color: #999; font-weight: bold; width: auto; text-align: center;padding-top: 10px}
.lo_txt01 span {color: #000}

/* Footer */
footer {}
button.f_btn01 {display: block;width: 100%; height: 54px; background:#ffda1a;color: #000; font-size: 16px; font-weight: bold; position: fixed; bottom: 0;}
button.f_btn02 {font-size: 13px; font-weight: bold; width: 100%;position: absolute;bottom: 80px;display: block;}
.f_btn02 img {width: 23px; margin-left: 5px;}
.f_sty {display: block;width: 100%; height: 54px;  position: fixed; bottom: 0;}
button.f_btn01_1 {display: inline;width: 50%; height: 54px; background:#ffda1a;color: #000; font-size: 15px; font-weight: bold; float: left; border-right:1px solid #fff;}
button.f_btn01_2 {display: inline;width: 50%; height: 54px; background:#ffda1a;color: #000; font-size: 15px; font-weight: bold; float: right;}
.f_logo {position: fixed; bottom: 20px; width: 80px; left: 50%; margin-left: -40px;}

/*============================= 메인 ==================================*/
.box {width: 100%;display: inline-block;border:1px solid #bbb;padding:10px 20px;box-sizing: border-box;border-radius: 6px;margin-bottom: 10px;margin-top: 5px;
-webkit-box-shadow: -1px 0px 19px 5px rgba(0,0,0,0.13);
-moz-box-shadow: -1px 0px 19px 5px rgba(0,0,0,0.13);
box-shadow: -1px 0px 19px 5px rgba(0,0,0,0.13);}
.box_g {width: 100%;display: inline-block;padding:10px 20px;box-sizing: border-box;border-radius: 6px;border: 1px solid #ccc;margin-bottom: 10px;margin-top: 5px;
-webkit-box-shadow: 0px 2px 1px 1px rgba(0,0,0,0.08);
-moz-box-shadow: 0px 2px 1px 1px rgba(0,0,0,0.08);
box-shadow: 0px 2px 1px 1px rgba(0,0,0,0.08);}

.box li, .box_g li {float: left}
.box_1 {width: 65px;height: 65px;display: inline-block;border-radius: 50%;border:1px solid #ddd;text-align: center;position: relative;}
.box_1_g {background: #eee; width: 65px;height: 65px;display: inline-block;border-radius: 50%;border:1px solid #d7d7d7;text-align: center;}
.box_1 img {width: 40px;padding-top:8px;}
.box_1 span {width: 19px; height: 19px; background:#b0b0b0;color: #fff; border-radius: 50%; display: inline-block;position: absolute;top: 2px;right: -6px;padding-top: 4px; box-sizing: border-box;font-weight: bold; font-size: 11px;font-family: 'Nanum Square' !important;}
.box_1_g img {width: 38px;padding-top:8px;opacity: 0.7}
.box_2 {font-size: 17px;padding: 30px 0 0 25px;font-family: 'Nanum Square' !important;font-weight: bold;position: relative;box-sizing: border-box;}
.box_2 span {font-size: 12px;font-weight: bold;color: #777;background:#eee;border: 1px solid #d5d5d5;border-radius: 2px;padding: 2px 3px 1px 3px;position: absolute;top: 9px;left: 25px;width: 40px;text-align: center;letter-spacing: 1px;}
.box_3 {float: right !important; padding:13px 0;}
.box_4 {font-size: 15px;padding: 10px 0 0 25px;font-weight: bold;box-sizing: border-box;width: 100%;width: calc(100% - 70px);}
.box_5 {font-size: 13px;padding: 10px 0 0 25px;box-sizing: border-box;width: 100%;width: calc(100% - 70px);color: #999}
.box_6 {display: inline-block;width: 100%; font-size:14px; padding:5px 0 10px 0;}
.box_6 b {padding-right: 15px;font-size: 15px;}
.box_7 {display: inline-block;width: 100%; font-size:13px; padding:5px 0 0 0; color: #666}
button.btn_logout {background: url(../img/logout.svg) no-repeat center 4px;background-size: 25px;width: 60px;height:60px;float: right;margin-top: -50px;box-sizing: border-box;padding-top: 32px;font-size: 11px;margin-right: -10px;color:#888 ;}
button.btn_delete2 {background: url(../img/delete2.svg) no-repeat center 4px;background-size: 25px;width: 60px;height:60px;float: right;margin-top: -50px;box-sizing: border-box;padding-top: 32px;font-size: 11px;margin-right: -10px;color:#888 ;}

.m_btn01 {background:url(../img/ic01.svg) no-repeat right;background-size:22px;width: auto;height: 40px;box-sizing: border-box;padding-right: 31px;font-size: 13px;font-weight: bold;}
.m_tit01 {display: inline-block;font-size: 15px;color: #999;font-family: 'Nanum Square' !important;font-weight: bold;margin-top: 30px;padding-top: 11px;margin-bottom: 10px;}
.m_tit01 span {width: 43px;height: 43px;background:#ffda1a;border-radius: 50%;color: #000;font-weight: bold;display: block;text-align: center;margin-top: -11px;float: left;margin-right: 10px;box-sizing: border-box;padding-top: 13px;}
.m_tit01 b {color: #000;font-size: 18px;}
.m_tit02 {display: inline-block;font-size: 15px;color: #999;font-weight: bold;margin-top: 30px;padding-top: 11px;margin-bottom: 10px;font-family: 'Nanum Square';}
.m_tit02 span {width: 43px;height: 43px;background: #e9e9e9;border-radius: 50%;color: #666;font-weight: bold;display: block;text-align: center;margin-top: -11px;float: left;margin-right: 10px;box-sizing: border-box;padding-top: 15px;font-size: 12px;font-family: 'Nanum Barun Gothic' !important;}
.m_tit02 b {color: #000;font-size: 18px;}

/*==========================청구 시작_약관===============================*/
.t_sum {}
.t_sum li {display: inline-block;width: 100%;box-sizing: border-box;}
.t_sum_1 {display: inline-block; border-bottom: 1px solid #ddd; width: 100%;box-sizing: border-box;padding: 6px 0 5px 0;border-top: 1px dashed #ccc;}
.t_sum_1 img {float: left; width: 110px}
.t_sum_1 button, button.btn_sum {float: right;background: url(../img/ic_see.svg) no-repeat right center;background-size:22px;width: auto;opacity: 0.4;padding-right: 32px;height: 40px;font-weight: bold;font-size: 13px;}

/*Step*/
.termswrap {width: 100%;display: inline-block;background: url(../img/bg_line01.png) no-repeat center 42px;background-size: 229px;height: 83px}
.terms {padding-top: 25px;display: table;margin: auto;}
.terms_dis {width:36px;height: 36px;background: #eeee;border-radius: 50%;display: inline-block;text-align: center;}
.terms_sel {width:36px;height: 36px; background:#ffda1a;border-radius: 50%; display: inline-block;text-align: center;}
.terms_sel span {color:#000;}
.terms_dis span {color:#999;}
.terms span {font-size: 13px;display: block;padding-top: 11px;font-weight: bold;}
.terms a {float: left;margin-right: 50px;white-space: nowrap;display: inline-block;}
.terms p {font-size: 13px;box-sizing: border-box;font-weight: bold;display: inline-block;margin-top: 24px;}
.terms_checked {width:32px;height: 32px; background:#fff;border:2px solid #ffda1a;border-radius: 50%; display: inline-block;text-align: center;}
.terms_checked i {font-size: 19px;color:#f9d51a;display: block;padding-top: 7px;}
.terms_txt01 {font-size: 15px;box-sizing: border-box;color: #000;font-weight: bold;width: 300px;display: block;margin: 13px auto 0 auto;}

.tp1 {margin-left: -20px;color: #999}
.tp2 {margin-left: -13px;color: #999}
.tp3 {margin-left: -4px;color: #999}
.tp4 {margin-left: -11px;color: #999}
.tp_sel {color: #000 !important; margin-top: 25px !important; font-size:14px !important;}

.t_sum_2 {display: inline-block;width: 100%}
.t_sum_2 li {float: left; font-size: 15px; display: inline-block;width: 33%}

/*서류첨부*/
.attach {padding-left: 50%;display: inline-block;width: 100%; margin-top: 15px;}
.attach01 {margin-left: -110px;margin-right: 50px; background:#ffda1a url(../img/ic_photo.svg) no-repeat center center;background-size:41px;width: 85px; height: 85px;display: inline-block;border-radius: 50%; float: left;}
.attach02 {background:#ffda1a url(../img/ic_pic.svg) no-repeat center center;background-size:39px; width: 85px; height: 85px;display: inline-block;border-radius: 50%; float: left}
.att_txt01 {display: block;margin:0 auto; font-size: 15px; color: #000; font-weight: bold; width: auto; text-align: center;padding-top: 96px}
/*이미지등록*/
.app_im {display: block;width: 100%;margin: 70px auto 0 auto;text-align: center;}
.app_im li {position:relative;display: inline-block;width: 32%;padding-top: 32%;border:1px solid #ddd;float: left;border-radius: 2px;margin-right: 3px;margin-bottom: 3px}
.app_im li img {width:26px; position: absolute;top:-1px;right:-1px;}
.app_im li.p_sel {border:1px solid #000;}

/*내청구내역확인*/
.billing {display: inline-block;}
/*.billing li {display: inline-block;width: 70px;height: 70px;float: left;margin-right: 10px;background: #e8e8e8;box-sizing: border-box;text-align: center;color: #222;border-radius: 50%;font-weight: bold;font-size: 13px;padding-top: 18px;margin-bottom: 10px;}*/
.billing li {display: inline-block;width: 76px;height: 43px;float: left;margin-right: 5px;background: #e8e8e8;box-sizing: border-box;text-align: center;color: #222;border-radius: 50px;font-weight: bold;font-size: 13px;padding-top: 6px;margin-bottom: 10px;}
.billing li span {display: block;color: #999; /*padding-bottom: 3px*/}
.bill_sel {background:#ffda1a !important; color: #000 !important;}
.all {padding-top: 14px !important;}

.billing2 {display: inline-block;}
.billing2 li {display: inline-block;width: 76px;height: 43px;float: left;margin-right: 5px;background: #e8e8e8;box-sizing: border-box;text-align: center;color: #222;border-radius: 50px;font-weight: bold;font-size: 13px;padding-top: 14px;margin-bottom: 10px;}

.bill_tit {display: inline-block;width: 100%; text-align: center;font-size: 23px; font-weight: bold;font-family: 'Nanum Square';letter-spacing: -1px; padding-bottom: 24px;margin-top: -20px;}
.bill_tit span {display: block;width: 100%;clear: both;font-size: 13px;color: #999;margin: 15px 0 20px 0;font-family: 'Nanum Barun Gothic' !important;letter-spacing: 0px}
.billing3 {position: relative;display: inline-block;width: 100%;background: #eee;color: #000;font-size: 15px;text-align: center;padding:28px 0 14px 0;font-weight: bold;/* letter-spacing: -1px; */border-radius: 4px;margin-bottom: 34px;}
.billing3 span {position: absolute;top:0;left:50%;width: 40px;height: 40px;background:#ffda1a;color: #000;font-weight: bold;font-size: 15px;border-radius: 50%;margin-left: -19px;margin-top: -19px;border:3px solid #fff;box-sizing: border-box;padding-top:10px;}

.bill {display: inline-block;width: 100%; padding: 10px 0 8px 0;font-size: 13px; font-weight: bold; border-bottom: 1px solid #ddd}
.bill li {display: inline-block;float: left}
.bil1_1 {width: 64px;color: #999;box-sizing: border-box;padding: 7px 0;border-right: 1px solid #ddd;margin-right: 15px;text-align: center;}
.bil1_2 {font-size: 15px;}
.bill_2 span {font-size: 12px !important; color: #999 !important; display: block !important;padding-top: 5px}
.bill_3 {width: 85px;float: right !important;background: #ddd;height: 30px;border-radius: 50px;text-align: center;box-sizing: border-box;padding-top: 8px;}
.bor_t {border-top:2px solid #000;}
.bill_c1 {background: #d3dfef;color: #3d6caa}
.bill_c2 {background: #ffbec9;color: #c46a79}
.bill_c3 {background: #fde688;color: #b58d15}
.bill_c4 {background: #9cffb8;color: #32b757}

button.btn_bill {color: #ff0000;padding-top: 10px;width: 100%;text-align: left;margin-top: 5px;font-size: 13px;font-weight: bold;}


/*==========================기타===============================*/
.add01 {width: 40%; float: left; margin-top: 20px; height: 25px;}
.add02 {padding: 18px 4px 0px 4px !important;}
.add03 {width: 23px;margin-left: 5px;}

.txt01 {margin-left: -40px;color: #777;}
.txt02 {font-size: 15px; color: #888; font-weight: bold; margin:15px 0 ;}
.txt02 b {padding-right: 20px; color: #555}
.txt_blue {font-size: 11px !important; color:#1f88ff !important; letter-spacing: normal !important; line-height: 1.5; font-weight: bold;display: block;clear: both;}
.txt_red {font-size: 11px !important; color:#ff0000 !important; letter-spacing: normal !important; line-height: 1.5; font-weight: bold;display: block;clear: both;}
.txt03 {background:#f4f4f4;color:#666; width: 100%; box-sizing: border-box;padding: 13px 12px; line-height: 1.5; margin-top:15px}
.txt03 span {letter-spacing: -1px}
.txt04 {width: 114px;margin: 30px auto 50px auto; display: block;}
.txt05 {font-size: 15px; color: #888; text-align: center;line-height: 1.5}
.txt05 span {color: #000; font-weight: bold; text-decoration:underline;font-size: 19px;font-family: 'Nanum Square' !important;}
.txt06 {font-weight: bold; color: #777 !important; height: 35px; display: inline-block;}
.txt07 {line-height: 1.8; display: inline-block; background: #f2f2f2; padding: 15px 10px; font-size: 14px;width: 100%; box-sizing: border-box;}
.txt08 {font-size:15px; display: inline-block !important; margin:35px 0 0 0 !important; height:34px;width: 100%; box-sizing: border-box;font-weight: bold}
.txt09 {width: 79%; float: left; margin-top: 14px;margin-bottom: 10px}
.txt10 {display: inline-block; float: right; font-size: 15px;color: #777;margin-top: -9px;}
.txt10 input {width:17px; margin-right: 5px }
.txt11 {display: inline-block; padding-top: 20px; margin-left: 10px;}
.txt12 {font-size: 13px; display: inline-block;width: 100%; text-align: center;}
