button, a {
    outline: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.ripple {
    @include ripple-effect;
}

@keyframes ripple {
    from {
        opacity: 1;
        transform: translate(-50%, -50%) scale(0);
    }
    to {
        opacity: 0;
        transform: translate(-50%, -50%) scale(1);
    }
}
