@charset "utf-8";

@import "_fonts.scss";
@import "_reset.scss";
@import "_layout.scss";
@import "_icon.scss";
@import "_page.scss";

body{
    background:#fff;
}

body,th,td,input,select,textarea,button{
    font-family:'Roboto', sans-serif;
    font-size:20px;
    color:#0e1012;
    line-height:1.6;
}

a{
    color:#0e1012;
}

.blind {
    overflow: hidden; 
    position: absolute; 
    clip: rect(0 0 0 0); 
    margin: -1px; 
    width: 1px; 
    height: 1px; 
    color: transparent;
}

pre {
    white-space: pre-wrap; 
}