@charset "utf-8";

// layout
body.overlay {
  overflow: hidden;
  height: 100%;
}
.wrap {
  overflow: hidden;
  margin:0 auto;
  min-width: 320px;
  max-width: 720px;
  padding: {
    top: 52px;
    right: constant(safe-area-inset-right);
    left: constant(safe-area-inset-left);
    right: env(safe-area-inset-right);
    left: env(safe-area-inset-left);
    bottom: 60px;
  }

  line-height: 1.38;

  .head-button {
    z-index:20;
    position: fixed;
    top:0;
    left:0;
    right:0;
    padding: 18px 18px 10px;
    height: 24px;
    background: #fff;
  }

  .content {
    padding: 40px 30px 60px;

    &.content-expired,
    &.content-already {
      padding: {
        top: 128px;
        bottom: 0;
      }
    }

    &.content-incorrect {
      padding: {
        top: 165px;
        bottom: 0;
      }
    }
  }

  .footer {
    z-index:20;
    position: fixed;
    left:0;
    bottom:0;
    bottom: constant(safe-area-inset-bottom);
    bottom: env(safe-area-inset-bottom);
    width: 100%;

    .logo {
      padding-bottom: 32px;
      text-align: center;
    }
  }
}

// common
.header {
  padding: 0 30px;
  .logo {
    margin-bottom: 30px;
    padding-top: 16px;
  }

  p {
    margin-top: 10px;
    font-size: 16px;
    color: #636b73;
  }
}
.page-head {
  font-size: 26px;
  color: #0e1012;
  font-weight: 500;
  line-height: 1.38;
}

h1.page-head  {
  padding-top: 10px;

  &.complete {
    &::before {
      content: '';
      display: block;
      margin-bottom: 10px;
      width: 50px;
      height: 50px;
      background: url("../images/ico_complete.svg") no-repeat left;
      background-size: cover;
    }
  }
}

input[type="checkbox"] {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  margin: -1px;
  width: 1px;
  height: 1px;
  border: 0 !important;
  outline-style: none;
  caret-color: #ffeb00;

  & + label {
    display: block;
    padding-left: 23px;
    background: {
      image: url("../images/ico_chk_sm.svg");
      repeat: no-repeat;
      position: 0 center;
      size: 10px auto;
    }
  }

  &:checked + label {
    background-image: url("../images/ico_chk_sm_on.svg");
  }

  &.all-check + label {
    padding-left: 38px;
    line-height: 38px;
    background: {
      image: url("../images/ico_chk.svg");
      size: 28px auto;
    }
  }
  &.all-check:checked + label {
    background-image: url("../images/ico_chk_on.svg");
  }
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="number"],
input[type="tel"], 
input[type="date"] {
  padding: 6px 0;
  font-size: 16px;
  color: #636b73;
  line-height: 1.38;
  border: solid #ced4da;
  border-width: 0 0 1px 0;

  &::placeholder {
    color: #adb5bd;
  }
  
  &.security {
    -webkit-text-security:disc;
  }
}

.btn {
  display: inline-block;
  text-align:center;

  &-back {
    width: 24px;
    height: 24px;
    background: {
      image: url("../images/btn_back.svg");
      repeat: no-repeat;
      position: center;
      size: cover;
    }
  }

  &-close {
    width: 24px;
    height: 24px;
    background: {
      image: url("../images/btn_close.svg");
      repeat: no-repeat;
      position: center;
      size: cover;
    }
  }

  &-primary {
    width: 100%;
    height:60px;
    line-height: 60px;
    font-size: 17px;
    color: #0e1012;
    font-weight: 700;
    background: #ffeb00;
    border-radius: 2px;

    &.disabled {
      color: #adb5bd;
      background: #e9ecef;
    }
  }

  &-secondary {
    width: 100%;
    height:60px;
    line-height: 60px;
    font-size: 17px;
    color: #fff;
    font-weight: 700;
    background: #636b73;
    border-radius: 2px;
  }
}

.text {
  &-info {
    position: relative;
    margin-top: 10px;
    padding-left: 21px;
    font-size: 13px;
    color: #636b73;
    letter-spacing: -0.8px;
    word-break: keep-all;

    &::before {
      content: '';
      position: absolute;
      top:0;
      left:0;
      display: block;
      width: 15px;
      height: 15px;
      vertical-align: middle;
      background: url("../images/ico_text_info.svg") no-repeat center;
      background-size: cover;
    }
  }

  &-link {
    color: #008dff;
    text-decoration: underline;
  }

  &-secondary {
    color: #008dff;

    &.signup-code {
      display: block;
      margin: -20px 0 60px;
    }
  }
}

.section {
  &-terms_agree {
    padding: 20px 0 0;
    ul {
      margin-top: 14px;
    }

    li {
      position: relative;
      padding: 20px 40px 20px 17px;
      line-height: 1.43;
      word-break: keep-all;
      border: 1px solid #f1f3f5;
      background: #f8f9fa;

      & + li {
        margin-top: 8px;
      }

      a {
        position: absolute;
        top: 50%;
        right:10px;
        display: inline-block;
        margin-top: -30px;
        width: 24px;
        height: 60px;
        background: {
          image: url("../images/ico_arrow_link.svg");
          repeat: no-repeat;
          position: center;
          size: 5px auto;
        }
      }
    }
  }

  &-signup_form {
    margin-top: 63px;

    li {

      & + li {
        margin-top: 20px;
      }

      &.resident-number {
        div {
          display: flex;
          span {
            margin: 0 11px 0 12px;
          }
        }
      }

    }

    strong {
      color: #212529;
      font-weight: 400;
      line-height: 1.43;
    }

    div {
      margin-top: 2px;

      input {
        width: 100%;
      }
    }
  }

  &-complete {
    padding-top: 40px;
    font-size: 16px;
    border-top: 1px solid #e9ecef;

    li {
      & + li {
        margin-top: 20px;
      }
    }

    span {
      display: inline-block;
      margin-right: 30px;
      width: 64px;
      color: #636b73;
    }

    strong {
      color: #212529;
      font-weight: 400;
    }
  }
}

.insurance-info {
  position: relative;
  padding: 20px 20px 0;
  background: #fff;
  border-radius: 6px;
  box-shadow: 1px 1px 8px 0 rgba(0, 0, 0, 0.2);

  h2 {
    font-size: 14px;
    color: #636b73;
    font-weight: 400;
    line-height: 1.43;

    &.hyundai {
      &::before {
        content: '';
        display:inline-block;
        margin: 0 6px 0 0;
        width: 26px;
        height: 26px;
        vertical-align: middle;
        border: 1px solid #e9ecef;
        border-radius: 50%;
        background: url("../images/img_logo_hyundai.png") no-repeat center;
        background-size: 16px auto;
      }
    }
  }

  p {
    margin-top: 10px;
    font-size: 16px;
    color: #212529;
    font-weight: 500;
  }

  strong {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 48px;
    height: 23px;
    font-size: 13px;
    color: #008dff;
    font-weight: 500;
    line-height: 23px;
    text-align: center;
    background: rgba(72, 172, 255, 0.2);
    border-radius: 15px
  }

  em {
    display: block;
    margin-top: 4px;
    font-size: 12px;
    line-height: 1.67;
    color: #868e96;
  }

  a {
    display: block;
    margin-top: 14px;
    padding: 13px 0 14px;
    font-size: 12px;
    color: #636b73;
    font-weight: 700;
    line-height: 1.67;
    text-align: center;
    border-top: 1px solid #e9ecef;
  }
}

.content-expired,
.content-already {
  text-align: center;

  .page-head  {
    padding-top:0;
    &::before {
      content: '';
      display: block;
      margin: 0 auto 10px;
      width: 50px;
      height: 50px;
      background: url("../images/ico_expired.svg") no-repeat left;
      background-size: cover;
    }
  }

  .inbyu {
    margin-top: 20px;
    padding-top: 20px;
    font-size: 16px;
    color: #212529;
    border-top: 1px solid #e9ecef;

    h2 {
      margin-bottom: 5px;
      font-size: 14px;
      font-weight: 400;
      color: #636b73;
    }

    span {
      overflow: hidden;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      width: 30px;
      height: 30px;
      vertical-align: middle;
      border: 1px solid #e9ecef; 
      border-radius: 50%;
    }
  }
}

.content-incorrect {
  line-height: 1.38;
  text-align: center;

  .page-head  {
    margin-bottom: 10px;
    padding-top:0;
    &::before {
      content: '';
      display: block;
      margin: 0 auto 10px;
      width: 50px;
      height: 50px;
      background: url("../images/ico_warning.svg") no-repeat left; 
      background-size: cover;
    }
  }
}

.content-already {
  .page-head  {
    &::before {
      background: url("../images/ico_warning.svg") no-repeat left;
    }
  }
}

.layer {
  display: none;
  z-index:100;
  position: fixed;
  top: 0;
  left:0;
  right:0;
  bottom:0;
  background: #fff;

  .head-button {
    z-index:20;
    padding: 18px 18px 10px;
    height: 24px;
    text-align: right;
    background: #fff;
  }

  .container {
    overflow-y: auto;
    padding: 40px 30px 90px;
    height: calc(100% - (constant(safe-area-inset-bottom) + 52px + 70px + 60px));
    height: calc(100% - (env(safe-area-inset-bottom) + 52px + 70px + 60px));

    h2 {
      margin-bottom: 20px;
      font-size: 20px;
      color: #0e1012;
      font-weight: 500;
      line-height: 1.5;
    }
  }

  .contents {
    line-height: 1.43;

    &.terms {
      h3 {
        margin-top: 20px;
        font-size: inherit;
        font-weight: 400;
      }

    }

    h3 {
      font-size: 16px;
      color: #212529;
      font-weight: 400;
      line-height: 1.25;
    }

    .table {
      margin-top: 20px;
      border-bottom: 1px solid #ced4da;
      table {
        table-layout: fixed;
        width: 100%;
        line-height: 1.43;
        border-collapse: collapse;
      }
      th, td {
        padding: 10px 10px 8px;
        text-align: center;
        border-top: 1px solid #ced4da;
      }
      th {
        background: #f1f3f5;
      }

      th + th, td + td {
        border-left: 1px solid #ced4da;
      }
    }

  }

  .footer {
    z-index: 110;
    position: fixed;
    bottom:0;
    left:0;
    right:0;
    padding-bottom: constant(safe-area-inset-bottom);
    padding-bottom: env(safe-area-inset-bottom);
    width: 100%;
  }
}
